.git
.gitignore
.npmrc
*.md

node_modules
**/node_modules

**/coverage
**/dist

**/nodemon.json
**/eslint.config.mjs
**/vitest.config.ts
**/Dockerfile
**/.dockerignore

# Keep only custom-environment-variables.json from config directories
**/config/localhost.json
**/config/test.json
