**/coverage
**/dist
**/node_modules
**/.DS_Store
**/.npmrc
!.npmrc
apis/**/config/*.json
!apis/**/config/custom-environment-variables.json
!apis/**/config/test.json
.env
.act
.npmrc.docker
.vscode
.husky